/* Random Quote Generator Styles */

body {
  font-family: 'Playfair Display', serif;
  background-color: #76ACD4;
  color: #fff;
}

.correct {
  background-color: #5AD07D;
}

.wrong {
  background-color: #EF5956;
}

#quiz-box {
  position: absolute;
  top: 15%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
}

.quiz,
.toast,
.result {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
}

.quiz-end {
  display: block;
  width: 60%;
  margin: 3rem auto;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #ecc863;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
}

.final-score {
  display: block;
  padding: 0.5rem;
  background-color: #ecc863;
  border-radius: 16px;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
}

table {
  width: 100%;
  margin-bottom: 4rem;
}

table td {
  font-size: 4rem;
  text-align: center;
}

.btn {
  width: 12em;
  display: inline-block;
  bottom: 150px;
  border-radius: 4px;
  border: 2px solid #104A75;
  color: #fff;
  background-color: #104A75;
  padding: 15px;
  margin: 10px;
  transition: .5s ;
  text-decoration: none;
}
.btn:hover {
  background-color: #FFF;
  color: #000;
}

.btn-correct {
  background-color: #057025;
  border-color:  #057025;
  float: right;
}

.btn-wrong {
  background-color: #AA0704;
  border-color: #AA0704;
  float: right;
}

.btn-result {
  background-color: #fd9800;
  border-color:#fd9800;
  display: block;
  margin: 2rem auto;
}

.btn:focus {
  outline: none;
}
